.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    table {
        width: 80%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 80%;
      }
}
